 

.header{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);   
}
.banner{
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image: url('../resources/Banner\ Image.png');


}
.banner-greeting{
     color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 50px;
    
    
   
    
}
.banner-description{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;  
}
.offer{
    color: #F00;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    
}
.holiday{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  
}
.product{
color: #070211;
text-align: center;
font-size: 48px;
font-weight: 700;

}
.pic{

    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
   
  
}

    
 .about{
    width: 1320px;
    height: 600px;
    background-image: url('../resources/Vectorrr.png');
    } 
    .about-description{
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;  
    }
.about-tittle{
    color: #FFF;
    width: 642px;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    
    
     
}
.about-end{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
   
}
.skill{
    margin-top: 120px;
   background-color: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    color: #070211;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-align: center;

}
.skill-end{
   
    color: #F00;
    text-align: center;
    



}
.party-fri{
    margin-top: 120px;
width: 1300px;
height: 433px;
background: #FFF;
display: flex;
margin-top: 120px;
}
.new-best{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    width: 200px;
    height: 30px;
    margin-left: 140px;

}
.soon{
    color: #070211; 
    font-size: 48px;
    font-weight: 900;
    margin-left: 140px; 
    width: 325px;
    height: 60px;
}
.Dolor{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    margin-left: 140px;
    width: 390px;
    height: 128px;
}
.my-ellipe{
  width: 364.844px;
  height: 364.844px;
  word-wrap: normal; 
  text-align: center;
  border-radius: 364.844px;
  border: 10px solid #F00; 
  padding: 20px;
  text-align: center;
}
.new-year{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    
}
.show-me{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;   
}
.open-me{
    width: 140px;
    height: 140px;   
}

.display{
    width: 1300px;
    height: 433px;
    background: #FFF;
    display: flex;
    margin-top: 120px;
}
.top-2{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
 
}
.top-3{
    color: #070211;
    font-size: 48px;
  
    font-weight: 900;
   
  
}
.top-4{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.bag{
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
     background: url(<path-to-image>), lightgray 0px -35.755px / 100% 142.115% no-repeat;
    
}
.big-bag{
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
     background: url(<path-to-image>), lightgray 0px -35.755px / 100% 142.115% no-repeat;
}
.hill{
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
     background: url(<path-to-image>), lightgray 0px -35.755px / 100% 142.115% no-repeat;
    
}
.big-hill{
    width: 424px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
     background: url(<path-to-image>), lightgray 0px -35.755px / 100% 142.115% no-repeat;
  
}

.sunglass{
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
     background: url(<path-to-image>), lightgray 0px -35.755px / 100% 142.115% no-repeat;
   
}
.curi{
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
     background: url(<path-to-image>), lightgray 0px -35.755px / 100% 142.115% no-repeat;
    
}

.subscribe{
    margin-top: 1000px;
   
    text-align: center;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);

}
.develop{
  margin-top: 100px;

}
.master{
    color: #070211;
    text-align: center;  
    font-size: 48px;
    font-weight: 900;
}
.clone{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-right: 300px;
    margin-left: 300px;
    padding: 5px;
}
.habit{
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
  margin-left: 10px;
}
   




